/* generics */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 250px;
    background-color: rgb(49,97,224);
    color: rgb(255,255 ,255);
}

main{
    background-color: rgb(255,255 ,255);
}

footer{
    background-color: rgb(35,39,42);
}

/* solo per capire */
div, section, nav, a, .discord, .accedi, .links, img, article{
    border: 1px dashed rgb(0, 0, 0);
}

/* utils */
.container{
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

.flex{
    display: flex;
}

.reverse{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
}

/* header */

.header-links{
    height: 30px;
    justify-content: space-between;
    background-color: rgb(55, 138, 255);
}

.discord,.accedi{
    width: 150px;
}

.discord{
    text-align: justify;
}

.accedi{
    text-align: end;

}
.links{
    width: 500px;
    justify-content: space-around;
}

a{
    color: rgb(255,255 ,255);
    text-decoration: none;
}

.titolo1{
    width: 800px;
    margin: 0 auto;
    background-color: rgb(166, 197, 223);
}

figure{
    background-color: rgb(243, 222, 191);
    width: 500px;
    height: 300px;
}

article{
    width: 500px;
}
