/* generics */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, main, footer{
    padding-top: 30px;
    padding-bottom: 50px;
}

header{
    background-color: rgb(49,97,224);
    color: rgb(255,255 ,255);
}

main{
    background-color: rgb(255,255 ,255);
}

footer{
    background-color: rgb(35,39,42);
    color: rgb(255,255 ,255);
}

/* solo per capire */
div, section, nav, a, .discord, .accedi, .links, img, article{
    border: 1px dashed rgb(0, 0, 0);
}

/* utils */
.container{
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

.flex{
    display: flex;
}

.flex.white{
    background-color: rgb(255,255 ,255);
}
.flex.reverse.grey{
    flex-direction: row-reverse;
    background-color: rgb(227, 227, 227);
}


/* header */

.header-links{
    height: 30px;
    justify-content: space-between;
    background-color: rgb(55, 138, 255);
    padding-bottom: 50px;
}

.discord,.accedi{
    width: 150px;
}

.discord{
    text-align: justify;
}

.accedi{
    text-align: end;

}
.links{
    width: 500px;
    justify-content: space-around;
}

a{
    color: rgb(255,255 ,255);
    text-decoration: none;
}

/* main */
.titolo1{
    width: 800px;
    margin: 0 auto;
    background-color: rgb(166, 197, 223);
}

figure, article{
    width: calc(100% /2);
    height: 300px;
}

img{
    width: 200px;
}

.main-last{
    text-align: center;
}

/* footer */
.footer-links{
    width: calc(100% / 5);
    background-color: rgb(71, 74, 75);
}
.social-icon{
    display: inline-block;
}

nav{
    border-bottom: 1px solid rgb(55, 138, 255);
}

.final{
    justify-content: space-between;
}
